
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: transparent;
}

window#waybar {
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    padding: 0 3px;
    background-color: transparent;
    color: #a9b1d6;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}


#workspaces button.active {
    color: #9ece6a;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#bluetooth {
	color: #a9b1d6;
}

#clock {
	color: #a9b1d6;
}

#battery {
	color: #a9b1d6;
}

#battery.charging, #battery.plugged {
	color: #a9b1d6;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #a9b1d6;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #a9b1d6;
}

#cpu {
    color: #a9b1d6;
}

#memory {
    color: #a9b1d6;
}

#disk {
    color: #a9b1d6;
}

#backlight {
    color: #a9b1d6;
}

#network {
    color: #a9b1d6;
}

#network.disconnected {
    color: #a9b1d6;
}

#pulseaudio {
    color: #a9b1d6;
}

#pulseaudio.muted {
    color: #a9b1d6;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: #a9b1d6;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    color: #a9b1d6;
}

#idle_inhibitor.activated {
    color: #a9b1d6;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #a9b1d6;
    color: #a9b1d6;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
